*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	color: rgb(100,100,100);
}

h2{
	width: 540px;
	height: 200px;
	border: dashed 2px white;
	margin: 0 auto;
	padding-top: 70px;
	font-size: 60px;
	font-weight: 700;
	color: rgb(250,250,250);
	letter-spacing: 8px;
}

h3{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.5px;
}

a{
	font-size: 18px;
	text-decoration: none;
	font-weight: 600;
}

.parallax-header{
	height: 100vh;
	text-align: center;
	width: 100%;
	background-size: cover;
	display: flex;
	transition: initial;
	background: transparent;
}

.contenedor-menu{
	display: block;
	position: fixed;
	width: 100%;
	z-index: 400;
	transition: 0.25s;
}

.menu{
	margin: 0 auto;
	width: 1000px;
	transition: 0.25s;
}

.menu ul{
	padding-top: 100px;
	transition: 0.25s;
}

.menu li{
	display: inline-block;
}

.menu li a{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	display: inline-block;
	width: 200px;
	font-size: 24px;
	font-weight: 600;
	color: rgb(250,250,250);
	cursor: pointer;
	-webkit-filter: drop-shadow(1px 1px 1px #222);
	filter: drop-shadow(1px 1px 1px #222);
}

.menu li a:hover{
	color: rgb(80,170,180);
	transition: all 0.2s linear;
}

label{
	color: rgb(250,250,250);
	width: 40px;
	margin: 0px 20px;
	font-size: 36px;
	line-height: 70px;
	display: none;
	text-shadow: 1px 1px 1px #222;
}

label:hover{
	color: rgb(80,170,180);
	transition: all 0.2s linear;
}

#toggle{
	display: none;
}

.logo-grande{
	margin: 0 auto;
	margin-top: 350px;
}

.logo-grande img{
	width: 50vh;
	-webkit-filter: drop-shadow(2px 2px 2px #222);
	filter: drop-shadow(2px 2px 2px #222);
}

.video-nuevo{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 1000px;
	position: relative;
	height: 700px;
}

.video-nuevo iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.agradecimientos{
	position: relative;
	padding: 12px 30px;
	margin: 0 auto;
	height: 240px;
	width: 600px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	visibility: visible;
	transition: 0.3s;
	margin-bottom: 75px;
	cursor: pointer;
	overflow: hidden;
}

.agradecimientos img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
}

.agradecimientos h4{
	color: white;
	padding: 40px 20px 0px;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 45px;
}

.agradecimientos p{
	color: white;
	letter-spacing: 0.5px;
	line-height: 18px;
	font-size: 14px;
	display: none;
}

.bio{
	position: relative;
	height: 400px;
	margin: 100px 0px;
	text-align: center;
	align-items: center;
}

.bio button{
	height: 400px;
	border-width: 0px;
	padding: 0px;
	border-style: none;
	cursor: pointer;
}

.img-bio{
	display: inline-block;
	height: 400px;
}

.text-bio{
	cursor: pointer;
	width: 600px;
	height: 400px;
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	z-index: 3;
	display: flex;
	align-items: center;
}

.text-bio h2{
	height: 100px;
	padding-top: 150px;
	border: none;
	padding: 0px;
	margin: 0 auto;
	font-size: 100px;
}

.contenedor-bio{
	display: inline-block;
	vertical-align: top;
	background-color: rgb(240,240,240);
	margin: 0 auto;
	width: 470px;
	height: 400px;
	text-align: center;
	overflow-y: scroll
}

.contenedor-bio h3{
	padding-top: 20px;
}

.contenedor-bio p{
	text-align: justify;
	text-justify: inter-word;
	display: block;
	padding: 15px 20px;
	font-size: 12px;
	letter-spacing: 0.48px;
	line-height: 11.5pt;
}

.contenedor-bio p span{
	font-weight: 600;
}

.parallax-musica {
	width: 100%;
	height: 300px;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
	background: transparent;
}

.parallax-video {
	width: 100%;
	height: 300px;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
	background: transparent;
}

.parallax-fotos {
	width: 100%;
	height: 300px;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
	background: transparent;
}

.parallax-conciertos {
	width: 100%;
	height: 300px;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
	background: transparent;
}

.parallax-contacto {
	width: 100%;
	height: 300px;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
	background: transparent;
}

.slider-video div{
	margin: 0 auto;
	width: 1000px;
	height: 550px;
}

.slider-video iframe{
	width: 1000px;
	height: 550px;
}

.albumes{
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 1000px;
	display: flex;
	justify-content: space-between;

}

.albumes div{
	display: inline-block;
}

.albumes span{
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 25px;
}

.banner.videos{
	background-image: url("../img/banner-video.jpg");
}

.contenedor-sliderimagenes{
	padding-top: 25px;
	padding-bottom: 100px;
	margin: 0 auto;
	width: 980px;
}

.slider-imagenes img{
	width: 155px;
	height: 90px;
	margin: 0 auto;
}

.banner.fotos{
	background-image: url("../img/banner-fotos.jpg");
}

.cont-fotos{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}

.insta{
	display: inline-block;
	margin: 15px;
	width: 300px;
	height: 400px;
	box-shadow: 0 0 2px 0 rgb(150,150,150)
}

.fotinsta{
	background-color: rgba(0,0,0,1);
	visibility: visible;
	width: 300px;
	height: 300px;
	position: relative;
}

.fotinsta img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 300px;
	max-height: 300px;
}

.insta p{
	text-align: left;
	width: 300px;
	height: 80px;
	overflow:hidden;
	font-size: 14px;
	line-height: 16pt;
	color: rgb(0,0,0);
	padding: 20px 10px;
	font-weight: 400;
}

.banner.conciertos{
	background-image: url("../img/banner-video.jpg");
}

.conciertos{
	margin: 0 auto;
	text-align: center;
	width: 1000px;
	margin-bottom: 50px;
}

.conciertos{
	width: 1000px;
}

.conciertos div{
	padding: 20px 0;
	border-bottom: solid 1px rgba(100,100,100,0.4);
	visibility: visible;
	text-align: left;
}

.conciertos p{
	display: inline-block;
	width: 250px;
	text-align: left;
}

.conciertos a{
	text-align: center;
	font-size: 14px;
	width: 200px;
	margin-left: 50px;
	color: rgb(100,100,100);
	display: inline-block;
	padding: 10px 0;
	border: solid 2px rgb(100,100,100);
	border-radius: 15px;
	transition: 0.3s;
	letter-spacing: 0.4px;
	transition: 0.3s;
	cursor: pointer;
}

.conciertos a:hover{
	color: rgb(255,255,255);
	background-color: rgb(100,100,100);
}

.mailing{
	margin: 0 auto;
	text-align: center;
}

.mailing h3{
	margin-bottom: 20px;
}

.mailing p{
	line-height: 18pt;
	padding: 0px 10px;
}

.mailing span{
	font-size: 18px;
	color: rgb(0,55,105);
	font-weight: 600;
}

.con-form{
	text-align: center;
	vertical-align: top;
	margin: 0 auto;
	width: 1000px;
}

.formulario{
	text-align: left;
	align-items: center;
	display: inline-block;
	width: 300px;
	margin: 30px 15px

}

.formulario p{
	line-height: 13pt;
	display: inline-block;
	margin-top: 30px;
	font-size: 15px;
}

.formulario input{
	margin-top: 10px;
	width: 300px;
	border-style: none none solid none;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	border-color: rgb(100,100,100);
	color: rgb(100,100,100);
}

.con-form button{
	background-color: white;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	margin: 0 auto;
	color: rgb(100,100,100);
	display: inline-block;
	margin-top: 30px;
	padding: 15px 50px;
	border: solid 2px rgb(100,100,100);
	border-radius: 15px;
	transition: 0.3s;
	margin-bottom: 75px;
	letter-spacing: 0.4px;
}

.con-form button:hover{
	color: rgb(255,255,255);
	background-color: rgb(100,100,100);

}

.clicked{
	color: rgb(255,255,255) !important;
	background-color: rgb(100,100,100) !important;
}

.tienda{
	text-align: center;
}

.tienda h3{
	margin-bottom: 15px;
}

.tienda p{
	display: inline-block;
	margin-bottom: 5px;
}

.tienda span{
	font-size: 15px;
	color: rgb(0,55,105);
	font-weight: 600;
	margin-bottom: 25px;
	display: inline-block;
}

.tienda a{
	display: inline-block;
	margin-bottom: 25px;
}

.contenedor-slidertienda{
	margin: 0 auto;
	width: 980px;
	text-align: center;
}

.contenedor-slidertienda img{
	margin: 0 auto;
}

.slick-slide{
	opacity:0.4;
	visibility: visible;
}

.slick-current{
	opacity:1;
}

.contenedor-slidertextotienda{
	padding-bottom: 90px;
}

.slider-textotienda div{
	text-align: center;
	margin: 0 auto;
	width: 300px;
}

.slider-textotienda div h4{
	padding: 20px 0px 15px;
	font-size: 18px;
	font-weight: 600;
}

.footer {
	display: hidden;
	position: fixed;
	z-index: 300;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(50,50,50);
	color: white;
	text-align: center;
	transition: 0.5s;
	color: rgb(255,255,255);
	vertical-align: top;
}

.footer div{
	margin-top: 5px;
	vertical-align: middle;
	justify-content: center;
	width: 320px;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 0.48px;
}

.fa {
	align-items: center;
	padding: 5px;
	font-size: 20px !important;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 0px 6px;
	border-radius: 50%;
	background: rgb(255,255,255);
	color: rgb(50,50,50);
}

.fa:hover {
	opacity: 0.7;
	visibility: visible;
}



.clear{
	clear: both;
}

.menu.shrink{
	width: 100%;
	height: 50px;
	transition: 0.25s;
}

.shrink ul{
	background-color: rgba(0,0,0,0.5);
	visibility: visible;
	padding: 15px 0px;
	transition: 0.25s;
}

.shrink li a{
	font-size: 16px;
	transition: 0.25s;
}

.slick-prev:before, .slick-next:before {
	color: rgb(100,100,100) !important;
}

@media (max-width: 1350px){
	.modal-content{
		margin-top: 50px !important;
	}
	.mySlides{
		height: 58vw !important;
	}
}

@media (max-width: 1072px){
	.img-bio button{
		display: none;
	}

	.text-bio{
		background-image: url("../img/img-bio3.jpg");
	}

	.contenedor-bio{
		width: 600px;
	}

	.albumes{
		width: 97vw;
		display: table;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.albumes div{
		width: 32vw;
	}

	.albumes h3{
		font-size: 14px !important;
		margin-top: 30px;
	}

	.albumes iframe{
		width: 90%;
		overflow-y: visible;
		position: relative;
	}
}

@media (max-width: 1020px){
	.contenedor-menu{
		position: absolute !important;
	}

	.menu{
		background-color: rgba(0,0,0,0.5);
		visibility: visible;
		display: none;
		margin: 0 auto;
		width: 100%;
	}

	.menu ul{
		margin-top: -100px;
		padding-bottom: 20px;
		text-align: left;
	}

	.menu li{
		padding-top: 25px;
		margin-left: 25px;
		display: block;
	}

	.menu a{
		letter-spacing: 2px;
		display: inline-block;
		font-size: 18px;
		font-weight: 600;
		color: rgb(250,250,250);
		cursor: pointer;
	}

	label{
		display: block;
		cursor: pointer;
	}

	#toggle:checked + .menu{
		display: block;
	}

	.menu.shrink{
		display: none !important;
	}

	.conciertos{
		width: 750px;
	}

	.conciertos div{
		text-align: center;
	}

	.conciertos a{
		margin: 20px 50px 10px 10px;
		text-align: center;
	}
}


@media (max-width: 1000px){
	.logo-grande{
		margin: 0 auto;
		margin-top: 30vh;
	}

	.logo-grande img{
		width: 50vw;
	}

	.video-nuevo{
		width: 95vw;
		padding-bottom: 68%;
		padding-top: 25px;
		height: 0;
	}

	.slider-video div{
		width: 700px;
		height: 385px;
	}


	.slider-video iframe{
		width: 700px;
		height: 385px;
	}


	.contenedor-sliderimagenes{
		width: 700px;
	}

	.cont-fotos{
		width: 95%;
		height: 860px;
		overflow: hidden;
	}

	.con-form{
		width: 100%;
	}

	.formulario{
		width: 30%;
		margin: 0px;
		padding-left: 15px;
	}

	.formulario input {
		width: 95%;
	}

	.contenedor-slidertienda{
		width: 750px;
	}

	.footer{
		display: hidden;
		position: static;
		z-index: 300;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 200px;
		background-color: rgb(50,50,50);
		color: white;
		text-align: center;
		transition: 0.5s;
		color: rgb(255,255,255);
		vertical-align: top;
	}

	.footer div{
		text-align: center !important;
		margin: 17px 0px;
		vertical-align: middle;
		justify-content: center;
		width: 100%;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 0.48px;
	}

	.fa {
		align-items: center;
		padding: 3px;
		font-size: 26px !important;
		width: 32px;
		text-align: center;
		text-decoration: none;
		margin: 0px 5px;
		border-radius: 50%;
		background: rgb(255,255,255);
		color: rgb(50,50,50);
	}

	.shrink li a{
		font-size: 12px;
		transition: 0.5s;
	}
	.row{
		width: 90% !important;
	}
	.column {
		width: 100% !important;
	}

	.column img{
		width: 90% !important;
	}
}

@media (max-width: 770px){
	.contenedor-slidertienda{
		width: 500px;
	}
	.conciertos{
		width: 500px;
	}

	.conciertos div{
		text-align: left;
	}

	.conciertos a{
		margin-left: 0px;
	}
}

@media (max-width: 720px){
	.cont-fotos{
		height: 1280px;
	}

	.insta{
		margin: 15px 0px;
	}

	.slider-video div{
		width: 500px;
		height: 275px;
	}

	.slider-video iframe{
		width: 500px;
		height: 275px;
	}

	.contenedor-sliderimagenes{
		width: 500px;
	}
}

@media (max-width: 700px){
	.logo-grande img{
		width: 70vw;
	}

	.albumes div{
		width: 100%;
		display: block;
	}

	.albumes iframe{
		width: 80%;
		height: 300px;
	}
}

@media (max-width: 650px){
	.bio{
		height: auto;
		margin: 50px 0px;
	}

	.img-bio{
		height: 0px;
	}

	.text-bio{
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 500px;
		height: 300px;
		margin: 0 auto;
		position: static;
		transform: none;
		left: none;
	}

	.contenedor-bio{
		vertical-align: top;
		background-color: rgb(240,240,240);
		margin: 0 auto;
		width: 500px;
		height: 360px;
		text-align: center;
	}
}

@media (max-width: 600px){
	.agradecimientos{
		padding: 20px 30px;
		height: 350px;
		width: 400px;
	}

	.agradecimientos img{
		width: 400px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -5;
	}

	.agradecimientos h4{
		padding-top: 35px;
	}

	.agradecimientos p{
		font-size: 12px;
	}

	.row{
		text-align: center !important;
		display: inline-block !important;
	}

	.formulario{
		display: block;
		width: 100%;
	}

}

@media (max-width: 540px){
	.conciertos{
		width: 250px;
	}

	.conciertos div{
		text-align: center;
	}

	.conciertos p{
		margin-bottom: 8px;
		text-align: center;
	}

	.conciertos a{
		margin: 10px 0px 20px;
	}
}

@media (max-width: 500px){
	h2{
		width: 80%;
		height: 120px;
		border: dashed 1px white;
		margin: 0 auto;
		padding-top: 40px;
		font-size: 30px;
		font-weight: 700;
		color: rgb(250,250,250);
		letter-spacing: 2px;
	}

	.agradecimientos{
		height: 480px;
		width: 300px;

	}

	.agradecimientos img{
		position: absolute;
		top: 0;
		left: -50px;
		z-index: -5;
	}

	.agradecimientos h4{
		color: white;
		padding-top: 50px;
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 1.5px;
		line-height: 45px;
	}

	.text-bio{
		width: 300px;
		height: 200px;
	}

	.contenedor-bio{
		width: 300px;
		height: 400px;
	}

	.contenedor-slidertienda{
		width: 240px;
	}

	.slider-video div{
		margin: 0 auto;
		width: 450px;
		height: 250px;
	}

	.slider-video iframe{
		width: 450px;
		height: 250px;
	}

	.contenedor-sliderimagenes{
		width: 0;
		padding: 0px;
	}

	.parallax-musica {
		height: 200px;
	}

	.parallax-video {
		height: 200px;
	}

	.parallax-fotos {
		height: 200px;
	}

	.parallax-conciertos {
		height: 200px;
	}

	.parallax-contacto {
		height: 200px;
	}

	.mailing{
		width: 95%;
	}

	.mailing p{
		font-size: 12px;
		line-height: 13pt;
	}

	.mailing span{
		font-size: 13px;
	}
}

@media (max-width: 450px){
	.slider-video div{
		width: 400px;
		height: 220px;
	}


	.slider-video iframe{
		width: 400px;
		height: 220px;
	}
}

@media (max-width: 400px){
	.slider-video div{
		width: 350px;
		height: 200px;
	}


	.slider-video iframe{
		width: 350px;
		height: 200px;
	}
}

@media (max-width: 350px){
	.slider-video div{
		width: 300px;
		height: 165px;
	}


	.slider-video iframe{
		width: 300px;
		height: 165px;
	}
}

@media (max-height: 720px){
	.logo-grande{
		margin-top: 30vh;
	}
}

@media (max-height: 720px){
	.logo-grande{
		margin-top: 30vh;
	}
}

@media (max-height: 400px){
	.logo-grande img{
		width: 40vw;
	}
}