<!DOCTYPE html>
<html>
<head>
    <title>Alejandro y Maria Laura</title>
    <meta charset="utf-8">
    <meta name="author" content="Renzo Loli">
    <meta name="description" content="Web Alejandro & Maria Laura">
    <meta name="keywords" content="AlejandroyMariaLaura, Alejandro, MariaLaura, musica, grupo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link rel="shortcut icon" href="img/logo-pequeño.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <div class="parallax-header" data-parallax="scroll" data-image-src="img/portada2.jpg" data-speed="0.6">
        <div class="contenedor-menu">
            <label for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle"/>
            <nav class="menu">
                <ul>
                    <li><a class="scroll" href="#mus">MÚSICA</a></li><li><a class="scroll" href="#vid">VIDEOS</a></li><li><a class="scroll" href="#fot">FOTOS</a></li><li><a class="scroll" href="#conc">CONCIERTOS</a></li><li><a class="scroll" href="#cont">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo-grande">
            <img src="img/logo_alejandroymarialaura.png">
        </div>
    </div>
</header>
<div class="video-nuevo">
    <iframe src="https://www.youtube.com/embed/hNgNDNjmYlk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<section id="mus">
    <div class="parallax-musica" data-parallax="scroll" data-image-src="img/banner-musica.jpg" data-speed="0.3">
        <h2>MÚSICA</h2>
    </div>
    <div class="albumes">
        <div class="lacasa">
            <h3>LA CASA NO EXISTE</h3><span style="display: block">(2017)</span>
            <iframe src="https://open.spotify.com/embed/album/3z19mxrkTY07BxO1Fq0d8e" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div class="fiestapara">
            <h3>FIESTA PARA LOS MUERTOS</h3><span style="display: block">(2013)</span>
            <iframe src="https://open.spotify.com/embed/album/2Zfiw0iH6vzNy1nJSsSm6D" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div class="paracaidas">
            <h3>PARACAÍDAS</h3><span style="display: block">(2011)</span>
            <iframe src="https://open.spotify.com/embed/album/7ndzlsaKeRjTzMUNwfnbAh" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
    <div class="bio">
        <div class="text-bio"><h2>BIO</h2></div>
        <div class="img-bio">
            <button><img src="img/img-bio1.jpg"></button>
        </div><div class="contenedor-bio" style="display: none;">
            <h3>BIO</h3>
            <p><span>Alejandro Rivas (1986 / Lima)</span> Productor musical, cinéfilo y aficionado a los sintetizadores. Su primer instrumento fue el cello y en la adolescencia comenzó a cantar, tocar guitarra y componer canciones. A los 17 años formó  parte de la banda de rock progresivo Los Winkerbeats. Estudió Comunicación Audiovisual en la PUCP y producción musical por curioso.
                <br>
                <br>
                <span>Maria Laura Bustamante (1986 / Lima)</span> Cantante teatrera, cancionista y tocadora de varios instrumentos. Fue al colegio en Arequipa y luego estudió Artes Escénicas en la PUCP. Fue parte del grupo vocal de la asociación Jazz Perú y formó el trío de jazz Ezquilache. En el 2012 ganó el premio Canteras por la canción “Jaula” y en el 2017 el premio Ibermúsicas de canción popular por temas que luego se incluyeron en el disco “La Casa No Existe”.
                <br>
                <br>
                <span>AyML (2009 / Lima)</span> Se conocen como estudiantes en la PUCP y colaboran en proyectos de teatro, música y video. En el 2009 comienzan a tocar en Sun Valley (Idaho) por un intercambio de estudiantes. De regreso en Lima, Mabela Martínez (Sonidos del Mundo) los contacta con Matías Cella para grabar su primer disco. AyML se convierte en una banda y comienzan a tocar en teatros, bares y centros culturales. “Puedo estar sin ti” es una de las primeras canciones que hace crecer el proyecto en el Perú, después de su difusión en algunas radios masivas.
                <br>
                En el 2013 graban segundo disco “Fiesta para los muertos” con la voz de Susana Baca como artista invitada y una versión lenta y mínima de la ancashina “Quisiera quererte”. El video en vivo grabado en el cementerio Nueva Esperanza de Villa María del Triunfo demuestra que la banda ha crecido y cambiado de rumbo. Se presentan en el Teatro Mario Vargas Llosa y en el Teatro del colegio Santa Ursula con espectáculos donde el aspecto visual y la producción escénica cobra mayor importancia.
                <br>
                En el 2014 la pareja decide dejar Lima como ancla. Viajan a Brasil, Argentina, Chile, Colombia y EEUU. En ese tiempo abren el “laboratorio de canciones” como espacio para ponerse retos y estímulos para seguir componiendo. Así surge “La Casa No Existe”, su tercer y último disco, producido por Juanito el Cantor, con retazos de canciones compuestas en distintos viajes y puestas a madurar en tocadas, ensayos y colaboraciones.
            </p>
        </div><div class="img-bio">
            <button><img src="img/img-bio2.jpg"></button>
        </div>
    </div>
</section>

<section id="vid">
    <div class="parallax-video" data-parallax="scroll" data-image-src="img/banner-video.jpg" data-speed="0.3">
        <h2>VIDEOS</h2>
    </div>
    <div class="slider-video">
        <div><iframe src="https://www.youtube-nocookie.com/embed/FqPdjI0Oteg?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/yn8qmSUW8wk?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/LND7TEYmZgQ?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/mp-iUIpN0OI?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/52-pqd6f81M?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/_0UM6a2Opps?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/-Ybf-EOU99g?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/z7y54AqJ6l0?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/qpSA2r1NjnQ?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div><iframe src="https://www.youtube-nocookie.com/embed/iN0U6bkhURU?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    </div>
    <div class="contenedor-sliderimagenes">
        <div class="slider-imagenes">
            <div><img src="http://img.youtube.com/vi/iN0U6bkhURU/2.jpg"></div>
            <div><img src="http://img.youtube.com/vi/FqPdjI0Oteg/1.jpg"></div>
            <div><img src="http://img.youtube.com/vi/yn8qmSUW8wk/0.jpg"></div>
            <div><img src="http://img.youtube.com/vi/LND7TEYmZgQ/0.jpg"></div>
            <div><img src="http://img.youtube.com/vi/mp-iUIpN0OI/0.jpg"></div>
            <div><img src="http://img.youtube.com/vi/52-pqd6f81M/1.jpg"></div>
            <div><img src="http://img.youtube.com/vi/_0UM6a2Opps/1.jpg"></div>
            <div><img src="http://img.youtube.com/vi/-Ybf-EOU99g/1.jpg"></div>
            <div><img src="http://img.youtube.com/vi/z7y54AqJ6l0/0.jpg"></div>
            <div><img src="http://img.youtube.com/vi/qpSA2r1NjnQ/0.jpg"></div>
        </div>
    </div>
</section>
{# Comentado por Gianpietro Lavado, por error similar a https://github.com/pgrimaud/instagram-user-feed/issues/77
<section id="fot">
    <div class="parallax-fotos" data-parallax="scroll" data-image-src="img/banner-fotos.jpg" data-speed="0.3">
        <h2>FOTOS</h2>
    </div>
    <div class="cont-fotos">
        {% for images in feed %}
            <a href="https://www.instagram.com/alejandroymarialaura/" target="_blank" class="insta">
                <div class="fotinsta">
                    <img src="{{ images.displaySrc }}">
                </div>
                <p>{{ images.caption }}</p>
            </a>
        {% endfor %}
    </div>
#}
</section>
<section id="conc">
    <div class="parallax-conciertos" data-parallax="scroll" data-image-src="img/banner-conciertos.jpg" data-speed="0.3">
        <h2>CONCIERTOS</h2>
    </div>
    <div class="conciertos">
        <div><p>AGO 28</p><p>SANTIAGO DE CHILE, CHILE</p><p>Teatro Nescafé de las Artes</p></div>
        <div><p>AGO 30</p><p>VALPARAÍSO, CHILE</p></div>
        <div><p>AGO 31</p><p>CHIGUAYANTE, CHILE</p></div>
    </div>
</section>
<section id="cont">
    <div class="parallax-contacto" data-parallax="scroll" data-image-src="img/banner-contacto.jpg" data-speed="0.3">
        <h2>CONTACTO</h2>
    </div>
    <div class="mailing">
        <h3>MAILING LIST</h3>
        <p>Escríbenos a <span>alejandroymarialaura@gmail.com</span><span style="display:none;">o déjanos tus datos AQUÍ</span> y así podremos avisarte cuando toquemos en tu ciudad.</p>
        <form>
        </form>
    </div>
    <div class="con-form">
<!--
        <form class="formulario">
            <p>Nombre:</p><br>
            <input type="text" name="nombre">
        </form>
        <form class="formulario">
            <p>Email:</p><br>
            <input type="text" name="email">
        </form>
        <form class="formulario">
            <p>Ciudad:</p><br>
            <input type="text" name="ciudad">
        </form>
        <button id="textchange">SUSCRIBIRSE</button>
-->
    </div>
    <br>
    <br>
    <div class="tienda">
        <h3>TIENDA</h3>
        <p>Envios a</p> <span>alejandroymarialaura@gmail.com</span>
        <div class="contenedor-slidertienda">
            <div class="slider-tienda">
                <div><img src="img/tienda-1.jpg"></div>
                <div><img src="img/tienda-2.jpg"></div>
                <div><img src="img/tienda-3.jpg"></div>
                <div><img src="img/tienda-4.jpg"></div>
                <div><img src="img/tienda-5.jpg"></div>
            </div>
        </div>
        <div class="contenedor-slidertextotienda">
            <div class="slider-textotienda">
                <div>
                    <h4>Disco La Casa No Existe</h4>
                    <p>Edición física - 2017</p><br>
                    <p>30 soles (Perú)</p>
                </div>
                <div>
                    <h4>Polo "La Casa No Existe"</h4>
                    <p>Tallas S, M y L para mujer y hombre</p><br>
                    <p>40 soles (Perú)</p>
                </div>
                <div>
                    <h4>Disco Fiesta para los muertos</h4>
                    <p>Edición física - 2013</p><br>
                    <p>30 soles (Perú)</p>
                </div>
                <div>
                    <h4>Polo Fantasma - Polo Calaveritas</h4>
                    <p>Tallas S, M y L para mujer y hombre</p><br>
                    <p>40 soles (Perú)</p>
                </div>
                <div>
                    <h4>Disco Paracaídas</h4>
                    <p>Edición física - 2011</p><br>
                    <p>30 soles (Perú)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="foot">
        <div style="padding-top: 3px; text-align: left;">
            <h4 style="font-size: 12px; font-weight: 600; padding-top: 5px;">alejandroymarialaura@gmail.com</h4>
        </div>
        <div style="margin-top: 6px;">
            <a href="https://www.facebook.com/alejandroymarialaura/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/alejandromlaura" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/alejandroymarialaura/" target="_blank" class="fa fa-instagram"></a>
            <a href="https://open.spotify.com/artist/3jAurSJUGt2LY7V417BF0u" target="_blank" class="fa fa-spotify"></a>
            <a href="https://www.youtube.com/user/marialauramalabu" target="_blank" class="fa fa-youtube"></a>
            <a href="https://itunes.apple.com/pe/artist/alejandro-y-maria-laura/586467984" target="_blank" class="fa fa-apple"></a>
        </div>
        <div style="padding-top: 3px; text-align: right;">
            <div style="width: 200px; margin-top: -22px; margin-right: 10px;">
                <p style="font-size: 8px;">© COPYRIGHT<br>2018 re·do</p>
            </div>
            <img src="img/logo-blanco.png">
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://use.fontawesome.com/b1e909dec6.js"></script>
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/principal.js"></script>
</body>
</html>

